<fury-page>
  <fury-title class="title">
    <mat-icon [@scaleIn]>device_hub</mat-icon>
    <span [@fadeInRight]>CAMPAIGN BUILDER</span>
  </fury-title>

  <div fxLayout="column" fxLayoutAlign="start center">

    <div [@fadeInUp] class="card">
      <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
        <mat-step [stepControl]="campaignFormGroup">
          <form [formGroup]="campaignFormGroup">
            <ng-template matStepLabel>Campaign</ng-template>

            <div class="heading">Campaign</div>
            <div class="subheading">Create New Campaign.</div>

            <div class="content" fxLayout="column" fxLayoutGap="8px">
              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field fxFlex="25">
                  <mat-label>Campaign Name</mat-label>
                  <input formControlName="campaignName" matInput required>
                  <!-- <mat-hint>Enter New Campaign Name.</mat-hint> -->
                </mat-form-field>
              </div>
              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field fxFlex="25">
                  <mat-label>Select Campaign Type</mat-label>
                  <mat-select formControlName="campaignType" required>
                    <mat-option *ngFor="let option of campaignTypeOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                  <!-- <mat-hint>Required</mat-hint> -->
                </mat-form-field>
              </div>

              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field fxFlex="25">
                  <mat-label>Select All Campaigns for Tracking</mat-label>
                  <mat-select formControlName="trackingCampaigns">
                    <mat-option *ngFor="let option of trackingCampaignOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                  <!-- <mat-hint align="end">example@example.com</mat-hint> -->
                </mat-form-field>
              </div>

              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field fxFlex="25">
                  <mat-label>Select All Networks for Tracking</mat-label>
                  <mat-select formControlName="trackingNetworks">
                    <mat-option *ngFor="let option of trackingNetworkOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                  <!-- <mat-hint align="end">example@example.com</mat-hint> -->
                </mat-form-field>
              </div>

              <!-- <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field fxFlex="1 1 auto">
                  <mat-label>Code</mat-label>
                  <mat-select formControlName="phonePrefix">
                    <mat-option *ngFor="let option of phonePrefixOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="2 1 auto">
                  <mat-label>Phone Number</mat-label>
                  <input formControlName="phone" matInput>
                  <mat-hint align="end"></mat-hint>
                </mat-form-field>
              </div> -->
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button (click)="stepper.reset()" [disabled]="campaignFormGroup.pristine" color="primary" mat-button type="button">RESET
              </button>
              <button [disabled]="campaignFormGroup.invalid" color="primary" mat-raised-button matStepperNext>NEXT
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="upsellFormGroup">
          <form [formGroup]="upsellFormGroup">
            <ng-template matStepLabel>Upsells</ng-template>

            <div class="heading">All Upsells</div>
            <div class="subheading">Add New Upsells.</div>

            <div class="content" fxLayout="row" fxLayoutGap="30px">

              <div fxLayout="column">
                <mat-form-field>
                  <mat-label>Select Number of Upsells</mat-label>
                  <mat-select formControlName="noOfUpsells" [(ngModel)]="noOfUpsells" required (selectionChange)="clearSelection()">
                    <mat-option *ngFor="let option of noOfUpsellsOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngFor='let operand of counter(noOfUpsells); let i = index'>
                  <div fxLayout="row">
                    <mat-form-field>
                      <mat-label>Select Product for Upsell {{i+1}}</mat-label>
                      <mat-select [(ngModel)]="upsellProductsList1[i]" (selectionChange)="AddProductList1()"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let option of productOptions" [value]="option">{{ option }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div fxLayout="column">
                <mat-form-field>
                  <mat-label>Select Number of Downsells</mat-label>
                  <mat-select formControlName="noOfDownsells" [(ngModel)]="noOfDownsells" required>
                    <mat-option *ngFor="let option of noOfDownsellsOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngFor='let operand of counter(noOfDownsells); let i = index'>
                  <div fxLayout="row">
                    <mat-form-field>
                      <mat-label>Select Product for Downsells {{i+1}}</mat-label>
                      <mat-select [(ngModel)]="downsellsProductsList1[i]" (selectionChange)="AddProductList1()"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let option of productOptions" [value]="option">{{ option }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
              <button [disabled]="upsellFormGroup.invalid" color="primary" mat-raised-button matStepperNext>NEXT
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="cyclesFormGroup">
          <form [formGroup]="cyclesFormGroup">
            <ng-template matStepLabel>Cycles</ng-template>

            <div class="heading">Cycles</div>
            <div class="subheading">Add Cycles</div>

            <div class="content" fxLayout="row" fxLayoutGap="30px">

              <div fxLayout="column">
                <mat-form-field>
                  <mat-label>Select Number of Cycles</mat-label>
                  <mat-select formControlName="noOfCycles" [(ngModel)]="noOfCycles" required (selectionChange)="clearSelection()">
                    <mat-option *ngFor="let option of noOfCyclesOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngFor='let operand of counter(noOfCycles); let i = index'>
                  <div fxLayout="row">
                    <mat-form-field>
                      <mat-label>Select Product for Cycle {{i+1}}</mat-label>
                      <mat-select [(ngModel)]="cycleProductsList[i]" (selectionChange)="AddProductList1()"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let option of productOptions" [value]="option">{{ option }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
              <button [disabled]="upsellFormGroup.invalid" color="primary" mat-raised-button matStepperNext>NEXT</button>
            </div>
          </form>

        </mat-step>

        <mat-step [stepControl]="miscFormGroup">
          <form [formGroup]="miscFormGroup">
            <ng-template matStepLabel>Misc</ng-template>

            <div class="heading">Misc Options</div>
            <div class="subheading">Select Options.</div>

            <div class="content" fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox class="checkbox" formControlName="cogsTrack">Track COGS for Products</mat-checkbox>
            </div>
            <div class="content" fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox class="checkbox" formControlName="cpaTrack">Track CPA for cycles</mat-checkbox>
            </div>
            <div class="content" fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox class="checkbox" formControlName="thirdPartyTrack">Track 3rd Party Offers for Thank You page</mat-checkbox>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
              <button (click)="submit()" [disabled]="miscFormGroup.invalid" color="primary" mat-raised-button
                matStepperNext>
                Complete
              </button>
            </div>
          </form>

        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </div>

</fury-page>