<fury-page>
  <fury-title class="title">
    <mat-icon [@scaleIn]>device_hub</mat-icon>
    <span [@fadeInRight]>CAMPAIGN BUILDER</span>
  </fury-title>

  <div fxLayout="column" fxLayoutAlign="start center">

    <div [@fadeInUp] class="card">
      <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
        <mat-step [stepControl]="campaignFormGroup">
          <form [formGroup]="campaignFormGroup" #postForm="ngForm">
            <ng-template matStepLabel>Campaign</ng-template>

            <div class="heading">Campaign</div>
            <div class="subheading">Create New Campaign.</div>

            <div class="content" fxLayout="column" fxLayoutGap="8px">
              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field fxFlex="25">
                  <mat-label>Campaign Name</mat-label>
                  <input formControlName="name" matInput>
                  <!-- <mat-hint>Enter New Campaign Name.</mat-hint> -->
                </mat-form-field>
              </div>
              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">

                <mat-form-field fxFlex="25">
                  <mat-label>Select Campaign Type</mat-label>
                  <mat-select formControlName="campaign_type">

                    <ngx-mat-select-search placeholderLabel="Search..." noEntriesFoundLabel="Not Found">
                    </ngx-mat-select-search>

                    <mat-option *ngFor="let option of campaignTypeOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field fxFlex="25">
                  <mat-label>Select All Campaigns for Tracking</mat-label>
                  <mat-select formControlName="tracking_campaigns" multiple>

                    <ngx-mat-select-search [formControl]="campaignSearchCtrl" placeholderLabel="Search..."
                      noEntriesFoundLabel="Not Found"></ngx-mat-select-search>

                    <mat-option *ngFor="let option of filteredCampaigns | async" [value]="option">#{{ option.id }} - {{
                      option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                <mat-form-field fxFlex="25">
                  <mat-label>Select All Networks for Tracking</mat-label>
                  <mat-select formControlName="tracking_networks" multiple>

                    <ngx-mat-select-search [formControl]="networkSearchCtrl" placeholderLabel="Search..."
                      noEntriesFoundLabel="Not Found"></ngx-mat-select-search>

                    <mat-option *ngFor="let option of filteredNetworks | async" [value]="option">#{{ option.id }} - {{
                      option.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button (click)="stepper.reset()" [disabled]="campaignFormGroup.pristine" color="primary" mat-button type="button">RESET
              </button>
              <button [disabled]="campaignFormGroup.invalid" color="primary" mat-raised-button matStepperNext>NEXT
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="upsellFormGroup">
          <form [formGroup]="upsellFormGroup">
            <ng-template matStepLabel>Upsells</ng-template>

            <div class="heading">All Upsells</div>
            <div class="subheading">Add New Upsells.</div>

            <div class="content" fxLayout="row" fxLayoutGap="30px">

              <div fxLayout="column" fxFlex="25">
                <mat-form-field>
                  <mat-label>Select Number of Upsells</mat-label>
                  <mat-select formControlName="no_of_upsells" [(ngModel)]="no_of_upsells" (selectionChange)="clearSelection()">
                    <mat-option *ngFor="let option of noOfUpsellsOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- formArrayName="productSearchCtrl" -->
                <div *ngFor='let operand of counter(no_of_upsells); let i = index' class="row-upcells">
                  <div fxLayout="row">
                    <div fxFlex="90">
                      <ng-multiselect-dropdown placeholder="Select Product for Upsell {{i+1}}" [settings]="dropdownSettingsForSingle"
                        [data]="productOptions" [(ngModel)]="upsell_products[i]" [ngModelOptions]="{standalone: true}"
                        (onSelect)="avoidDuplication($event, 'upsell',i)" (onDeSelect)="avoidDuplication($event, 'upsellDeSelect',i)"
                        (click)="getSelectValue($event, 'upsell',i)">
                      </ng-multiselect-dropdown>
                    </div>
                    <!-- <mat-form-field>
                      <mat-label>Select Product for Upsell {{i+1}}</mat-label>
                      <mat-select [(ngModel)]="upsell_products[i]" [ngModelOptions]="{standalone: true}"
                        (selectionChange)="avoidDuplication($event, 'upsell',i)"(click)="getSelectValue($event, 'upsell',i)">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="productSearchCtrl" placeholderLabel="Search..."
                            noEntriesFoundLabel="'Not Found'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredProducts | async" [value]="option">{{ option.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                </div>
              </div>

              <div fxLayout="column" fxFlex="25">
                <mat-form-field>
                  <mat-label>Select Number of Downsells</mat-label>
                  <mat-select formControlName="no_of_downsells" [(ngModel)]="no_of_downsells">
                    <mat-option *ngFor="let option of noOfDownsellsOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngFor='let operand of counter(no_of_downsells); let i = index' class="row-upcells">
                  <div fxLayout="row">
                    <div fxFlex="90">
                      <ng-multiselect-dropdown placeholder="Select Product for Downsells {{i+1}}" [settings]="dropdownSettingsForSingle"
                        [data]="productOptions" [(ngModel)]="downsell_products[i]" [ngModelOptions]="{standalone: true}"
                        (onSelect)="avoidDuplication($event, 'downsell',i)" (onDeSelect)="avoidDuplication($event, 'downsellDeSelect',i)"
                        (click)="getSelectValue($event, 'downsell',i)">
                      </ng-multiselect-dropdown>
                    </div>
                    <!-- <mat-form-field>
                      <mat-label>Select Product for Downsells {{i+1}}</mat-label>
                      <mat-select [(ngModel)]="downsell_products[i]" [ngModelOptions]="{standalone: true}"
                        (selectionChange)="avoidDuplication($event, 'downsell',i)"(click)="getSelectValue($event, 'downsell',i)">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="productSearchCtrl" placeholderLabel="Search..."
                            noEntriesFoundLabel="'Not Found'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredProducts | async" [value]="option">{{ option.name }}
                          ({{option.id}}) - {{option.price}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
              <button [disabled]="upsellFormGroup.invalid" color="primary" mat-raised-button (click)="checkDropdownValue(true)">NEXT
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="cyclesFormGroup">
          <form [formGroup]="cyclesFormGroup">
            <ng-template matStepLabel>Cycles</ng-template>

            <div class="heading">Cycles</div>
            <div class="subheading">Add Cycles</div>

            <div class="content" fxLayout="row" fxLayoutGap="30px">

              <div fxLayout="column" fxFlex="25">
                <mat-form-field>
                  <mat-label>Select Number of Cycles</mat-label>
                  <mat-select formControlName="no_of_cycles" [(ngModel)]="no_of_cycles" (selectionChange)="clearSelection()"
                    Fchange>
                    <mat-option *ngFor="let option of noOfCyclesOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngFor='let operand of counter(no_of_cycles); let i = index'>
                  <div fxLayout="row">
                    <div fxFlex="90">
                      <ng-multiselect-dropdown [placeholder]="'Select Cycle'" [settings]="dropdownSettingsForSingle"
                        [data]="productOptions" [(ngModel)]="cycle_products[i]" [ngModelOptions]="{standalone: true}"
                        (onSelect)="avoidDuplication($event, 'cycleproducts',i)" (onDeSelect)="avoidDuplication($event, 'cycleproductsDeSelect',i)"
                        (click)="getSelectValue($event, 'cycleproducts',i)">
                      </ng-multiselect-dropdown>
                    </div>
                    <!-- <mat-form-field>
                      <mat-label>Select Product for Cycle {{i+1}}</mat-label>
                      <mat-select [(ngModel)]="cycle_products[i]" [ngModelOptions]="{standalone: true}"
                        (selectionChange)="avoidDuplication($event, 'cycleproducts',i)">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="productSearchCtrl" placeholderLabel="Search..."
                            noEntriesFoundLabel="'Not Found'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredProducts | async" [value]="option">{{ option.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
              <button [disabled]="upsellFormGroup.invalid" color="primary" mat-raised-button
              (click)="checkDropdownValue(false)">NEXT</button>
            </div>
          </form>

        </mat-step>

        <mat-step [stepControl]="miscFormGroup">
          <form [formGroup]="miscFormGroup">
            <ng-template matStepLabel>Misc</ng-template>

            <div class="heading">Misc Options</div>
            <div class="subheading">Select Options.</div>

            <div class="content" fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox class="checkbox" formControlName="cogs_track">Track COGS for Products</mat-checkbox>
            </div>
            <div class="content" fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox class="checkbox" formControlName="cpa_track">Track CPA for cycles</mat-checkbox>
            </div>
            <div class="content" fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox class="checkbox" formControlName="third_party_track">Track 3rd Party Offers for Thank You
                page</mat-checkbox>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button color="primary" mat-button matStepperPrevious type="button">PREVIOUS</button>
              <button (click)="submit()" (click)="clear(postForm)" [disabled]="miscFormGroup.invalid" color="primary"
                mat-raised-button matStepperNext>
                Complete
              </button>
            </div>
          </form>

        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </div>

</fury-page>