<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<div class="fury-preview-card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="content" fxFlex>
    <div class="header">
      <div class="title">Mid Details</div>
    </div>

    <mat-tab-group class="tabs fury-tabs">

      <mat-tab *ngFor="let mid of mids">
        <ng-template mat-tab-label>
            <span (click)="getMidDetaildata(mid.profile_id)">{{ mid.alias }}</span>
        </ng-template>
        <div class="person padding">
          <div fxLayout="row" fxLayoutGap="24px">
            <h6>OFFER</h6>
          </div>
          <div class="main-div" fxLayout="column" fxLayoutGap="20px" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <div fxLayout="row" fxLayoutGap="24px">
              <div class="product-column" fxLayout="column" fxLayoutGap="15px" [fxFlex]="40">
                <div *ngFor="let detail of details" fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>{{ detail.product_id }}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    
    </mat-tab-group>
  </div>
</div>