<div class="fixActionRow">
    <mat-spinner class="text-center" *ngIf="isLoading"></mat-spinner>
    <div mat-dialog-content class="mat-typography">
        <ng-container class="flex" *ngIf="details.length != 0">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total Count</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of details">
                        <td>{{ detail.name}}</td>
                        <td>{{ detail.total_count}}</td>
                        <td>{{ detail.percentage }}%</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><b>Total</b></td>
                        <td><a [routerLink]="['orders']" target="_blank" [queryParams]="{gateway_id:this.gateway_id, type:this.type, status:this.status, start_date:this.start_date, end_date:this.end_date}"><b>{{ count_sum }}</b></a></td>
                        <td><b>{{ percentage_sum }}%</b></td>
                    </tr>
                </tfoot>
            </table>
        </ng-container>
    </div>
</div>