.view-link {
  color: #6495ed;
}
.delete-link {
  color: #f62217;
}
.no-bottom-padding {
  padding-bottom: 0px;
}
.full-width {
  width: 100%;
}

// :host ::ng-deep .mat-sort-header-container {
//   display: flex;
//   justify-content: center;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
// }

// table {
//   border-color: none !important;
// }

// font-weight: bold {
//   font-weight: bold;
// }

.summary p {
  font-size: 12px;
  font-family: tahoma;
  text-transform: uppercase;
}

.summary-row {
  text-align: center;
  align-items: center;
}

.summary p span {
  display: block;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

// .mat-table-cell {
//   text-overflow: ellipsis !important; 
//   overflow: hidden !important; 
//   white-space: nowrap !important;
//   max-width: 200px !important;
// }

// .mat-cell,
// .mat-header-cell:hover {
//   overflow: visible !important;
//   white-space: normal !important;
//   height: auto;
// }
::ng-deep .select-all{
  padding: 15px;
}