// .show-link:hover {
//     text-decoration: underline;
//   }
  table td:nth-child(3) .show-link:hover {
    text-decoration: underline;
  }
  table td:nth-child(4) .show-link:hover {
    text-decoration: underline;
  }
  table td:nth-child(6) .show-link:hover {
    text-decoration: underline;
  }
  table td:nth-child(8) .show-link:hover {
    text-decoration: underline;
  }
  table td:nth-child(14) .show-link:hover {
    text-decoration: underline;
  }